
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    background-image: url(img/geometry.jpg);
}
.header {
    padding: 15px;
    text-align: center;
}
.header h1 {
    display: block;
    color: white;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 0 3px 6px rgba(0,0,0,0.6);
    cursor: pointer;
    transition: all 300ms ease;
}
.header h1:hover {
    transform: scale(1.1) skewY(-2deg);
    text-shadow: 0 0 20px rgba(255, 215, 0, 0.8), 0 3px 6px rgba(0,0,0,0.6);
    color: #FFD700;
}


.main {
    background-color: #f2f2f2;
    padding: 40px 0;
}


.thumbnail {
    border: 0px;
    position: relative;
    padding: 20px;
    margin: 20px;
    border-radius: 0;
    background-color:#dddddd;
}
.thumbnail img {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    border: 2px dashed black;
}

/* "Poster X of Y" text */
.imageInfo {
	color: #959595;
	font-style: italic;
	font-size: x-small;
	float: right;
	padding-right: 5px;
}


.title,
.released {
    color: #444;
    margin: 0;
    font-size: 18px;
    font-weight: 800;
    transition: all 300ms ease;
}
.title:hover {
    color: #008700;
    transform: translateX(8px) rotate(1deg);
    text-shadow: 0 2px 8px rgba(0, 135, 0, 0.4);
}
.released,
.rated {
    color: #5d5d5d;
    font-size: 14px;
    font-weight: 200;
}


.score {
    background-color: #39D1B4;
    color: #fff;
    font-size: 18px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 200;
    height: 80px;
    line-height: 80px;
    text-align: center;
    width: 80px;
    position: absolute;
    top: 50px;
    right: 25px;
    border-radius: 50%;
}


.social {
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative;
    left: 0;
    top: 0;
}


.likes,
.dislikes {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    line-height: 1;
    min-width: 70px;
    height: 40px;
    border-radius: 20px;
    margin: 0 8px 0 0;
    padding: 0 12px;
    text-align: center;
    font-weight: 200;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: 200ms;
}


.likes {
    background-color: #008700; 
    color: #ffffff;
}
.likes:hover {
    background-color: #9edd87; 
    color: #008700;
}
.dislikes {
    background-color: #f65a5b; 
    color: #ffffff;
}
.dislikes:hover {
    background-color: #fdd6d6;
    color: #f65a5b;
}


.footer {
    text-align: center;
    margin: 80px 0 110px;
}


#github{
	font-size: small;
}


